<?xml version="1.0"?>
<!--
/**
 * @category    Katapult
 * @package     Katapult_Payment
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="katapult" frontName="katapult">
            <module name="Katapult_Payment"/>
        </route>
    </router>
</config>
